DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DATABASE_URL=postgresql://bordereau:bordereau@db:5432/bordereau
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
STORAGE_BACKEND=local
# Pour la prod avec R2/S3 :
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_STORAGE_BUCKET_NAME=
# AWS_S3_ENDPOINT_URL=
